#container {
    display: flex;
    justify-content: center;
    
}

#gridsize {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}


#confirmbutton {
    border-radius: 5px;
}


.column {
    flex: 0;

}

.row {
    width: 10px;
    height: 10px;
    margin: 0;
    border: 1px solid black;
    text-align: center;
}

.black {
    background-color: black;
}